* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: content-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    justify-content: space-between;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #040234;
    height: 150px;
    display: flex;
    padding-bottom: 25px;
    position: relative;
    width: 1080px;
    margin: 0 auto;
}

header .logo img {
    max-width: 100%;
    height: auto;
}
 
header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
 
header nav ul li a {
    color: white; /* Branco */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
 
header nav ul li a:hover {
    color: #6c5ce7; /* Lilás escuro para hover */
}

nav {
    
    text-align: center;
    padding-top: 60px;
    
}

.textnav {
    color: white;
}

.search {
    padding-top: 25px;

}

.textsearch {
    color: white;
    text-align:left;
}

/* Footer */
footer{
    background-color: #040234;
    color: white;
    height: 120px;
    display: flex;
    text-align: center;
    position: relative;
    width: 1080px;
    margin: 0 auto;
}

.footertext {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:15px ;
}

.logo_footer {
    margin-top: auto;
    margin-bottom: auto;
}

.imgfooter{
    margin-top: auto;
    margin-bottom: auto;
    margin-left:auto;
    margin-right: 15px;
}

.espaco {
    padding-bottom: 15px;
}

.slider{
    margin: 0 auto;
    width: 940px;
    height: 300px;
    overflow: hidden;
}

.slider-content{
    width: 940px;
    height: 340px;
    display: flex;
}

.slider-content input{
    display: none;
}

.slide-box{
    width: 100%;
    position: relative;
    transition: 2s;
}

.nav-manual{
    position:absolute;
    width: 940px;
    margin-top: -65px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 3px solid whitesmoke;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0,3s;
}

.manual-btn:not(:last-child){
    margin-right: 15px;
}

.manual-btn:hover{
    background-color: #040234;
}

#radio1:checked ~ .primeiro{
    margin-left: 0;
}

#radio2:checked ~ .primeiro{
    margin-left: -100%;
}

#radio3:checked ~ .primeiro{
    margin-left: -200%;
}

#radio3:checked ~ .nav-manual .auto-btn3{
    background-color: #20a6ff;
}

#radio4:checked ~ .primeiro{
    margin-right: -300%;
}

.nav-auto div{
    border:3px solid #20a6ff;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0,3s;
}

.nav-auto{
    position:absolute;
    width: 940px;
    margin-top: 274px;
    display: flex;
    justify-content: center;
}

.nav-auto div:not(:last-child){
    margin-right: 15px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: #040234;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #040234;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #20a6ff;
}

#radio4:checked ~ .nav-auto .auto-btn4{
    background-color: #040234;
}

.box{
  display: flex;
  margin-bottom: 10px;
}
.box2{
    display: flex;
    color: white;
    background-color: #085488;
    margin:10px;
    width: 470px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
  }

  .box2:hover {
    transform: translateY(-5px);
}
 

.newsletter {
    background-color: #040234;
    display: flex;
    padding-bottom: 25px;
    width: 940px;
    margin: 0 auto;
    text-align: center;

}

.bottoncolor {
    background-color: #7F187F;
    color: white;
}

.bodyalign {
    position: relative;
    width: 940px;
    margin: 0 auto;

}

.search {
    padding-top: 25px;

}

.logomail {
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 10px;
}

h1{
    font-size: 20px;
}




