* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: content-box;
}
 
 
.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}
 
/* Header */
.header {
    background-color: hwb(239 2% 76% / 0.993); 
    color: #f8f0f0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.header img {
    max-width: 100%;
    height: auto;
}
 
.header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
 
.header nav ul li a {
    color: #a29bfe; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
 
.header nav ul li a:hover {
    color: #6c5ce7; 
}


.search {
    position: relative;           
    width: 200px;                 
    height: 35px;                 
    background-color: #f8f0f0;       
    border: 1px solid #ccc;       
    border-radius: 5px;           
    display: flex;              
    align-items: center;          
    padding-left: 5px;
    margin-top: -135px;           
}


.search input {
    flex: 1;                      
    height: 100%;                 
    border: none;                 
    background-color: #f8f0f0;     
    font-size: 16px;              
    color: #ccc;                  
    outline: none;                
}


.search i {
    position: absolute;           
    right: 10px;                  
    font-size: 18px;              
    color: #ccc;                  
    pointer-events: none;         
}




.navbar ul {
    list-style: none; 
    padding: 0;       
    margin: 0;        
    display: flex;    
    justify-content: center; 
}


.navbar li {
    margin: 0 15px; 
}


.navbar a {
    text-decoration: none; 
    color: white;          
    padding: 5px 10px;     
    transition: border-bottom 0.3s ease; 
    border-bottom: 2px solid transparent; 
}


.navbar a:hover {
    border-bottom: 2px solid white;
}


.card {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card h1 {
    color: #2d3e50;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.card h2{    color: #2d3e50;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.card h3 {
    font-size: 1.5em;
    color: #2d3e50;
    margin-top: 30px;
    margin-bottom: 15px;
}

.card ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.card ul li {
    margin-bottom: 10px;
    line-height: 1.6;
}

.card img {
    border-radius: 10px;
    width: 20%;
    margin: 20px auto;
    display: block;
    
}

section.card-container {
    margin-bottom: 40px;
    padding: 20px;
    border-bottom: 1px solid;
    color: #333;
}

footer {    background-color: hwb(239 2% 76% / 0.993); 
    color: #f8f0f0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    background-color: #f0f8ff;
}

